In [1]:
import pandas as pd

In [4]:
print(pd.__version__)
dic = {
    "col 1": [1, 2, 3],
    "col 2": [10, 20, 30],
    "col 3": list('xyz'),
    "col 4": ['a', 'b', 'c'],
    "col 5": pd.Series(range(3))
}

df = pd.DataFrame(dic)
df

1.1.3

   col 1  col 2 col 3 col 4  col 5
0      1     10     x     a      0
1      2     20     y     b      1
2      3     30     z     c      2

In [5]:
print(type(df.columns))
df.columns

<class 'pandas.core.indexes.base.Index'>

Index(['col 1', 'col 2', 'col 3', 'col 4', 'col 5'], dtype='object')

In [6]:
df.columns = ['x(new)', '10x(new)'] + list(df.columns[2:])
df

   x(new)  10x(new) col 3 col 4  col 5
0       1        10     x     a      0
1       2        20     y     b      1
2       3        30     z     c      2

In [7]:
pd.util.testing.makeDataFrame()

c:\users\reyes\appdata\local\programs\python\python36\lib\site-packages\pandas\util\__init__.py:23: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
Pi8a12Ockn -0.608946  1.145298  0.564952 -0.692184
BVvg60YzGS  1.816673 -0.468087 -0.976888 -0.064732
gYB2mji677 -1.319467  1.444557 -1.787446 -0.032392
tR3M3O0Qum  1.530593  0.167425 -1.005990  0.542745
EUlfbHqa0v -0.349669  2.182385 -0.629728 -0.682571
GgHigkuW1N  0.400024 -0.656785  0.513146 -0.847847
W3lUp5kBIt -0.619068 -0.133686 -0.099216 -2.017683
08Flo0qcFs -0.792743  0.545402 -0.459371  0.000795
DAKnhjpSs9  1.538746  0.126888  0.065372  0.276644
c9m1FdrWdj  1.921373 -0.258077 -0.732068 -0.127940
QcyMyWtar9 -0.997946  1.492680 -0.828942  0.799915
5Hpe6uZmSe  0.664739  0.211506  1.851420  0.097478
DWnERPVX78  1.254917 -1.419103  1.042175 -2.049670
0BwBC9q937  0.609538  0.641237  0.332529  0.092496
W1WdJO7tF5  0.727920  0.697578  0.489653  0.205360
BNlPmVbSde  0.039570  0.847248  1.289057 -1.866003
vXUwI0Rq14 -0.394204 -0.684870  0.302630 -0.807190
ffbIoIWmIx -0.701866 -2.828946  0.469958 -2.086388
1EsLH87x3O -1.565585 -2.033760  0.564889 -0.524585
UaPQu1iBgS -0.378883 -0.487028  1.491162 -0.547914
jFM9gEuvHy  0.214952 -0.418599 -0.208226  0.313278
6IHNRZT4kk  0.831383  0.642304 -0.372305  0.594283
AhFBiG6Qu3  1.301012  0.378880 -0.463196 -1.029649
QpSp1GuG55  2.654641  0.720351  0.076650  0.571139
HT5VxLBySW  1.456331 -0.349359  0.318817  0.844122
5k0hSubqMM -0.305433  0.005241 -0.535600 -0.345648
1O0Ruz7wve -1.752194  0.021942 -0.110139 -0.410071
nlsStBoiMf -2.367528 -0.106484 -1.282298  0.580667
Egpw6ZCtgi -0.603088 -0.356633 -0.517411 -1.753786
4BypTMYqRD -1.011539  0.542345 -0.461251 -0.115777

In [9]:
pd.util.testing.makeMixedDataFrame()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [10]:
df = pd.read_csv('http://bit.ly/kaggletrain')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
# https://data.taipei/api/getDatasetInfo/downloadResource?id=2f238b4f-1b27-4085-93e9-d684ef0e2735&rid=f47c1289-9e2f-49aa-a328-37708402a9ac
base_url = "https://data.taipei/api/getDatasetInfo/downloadResource?id={}&rid={}"
_id = "2f238b4f-1b27-4085-93e9-d684ef0e2735"
_rid = "f47c1289-9e2f-49aa-a328-37708402a9ac"
csv_url = base_url.format(_id, _rid)
csv_url

'https://data.taipei/api/getDatasetInfo/downloadResource?id=2f238b4f-1b27-4085-93e9-d684ef0e2735&rid=f47c1289-9e2f-49aa-a328-37708402a9ac'

In [24]:
df_raw = pd.read_csv(csv_url, encoding='big5')
df_raw

,發生年,發生月,發生日,發生時,發生分,處理別,區序,肇事地點,死亡人數,受傷人數,當事人序,車種,性別,年齡,受傷程度,天候,速限,道路型態,事故位置
0,108,1,2,8,37,2,01大同區,大同區重慶北路3段137巷與民族西路182巷口,0,2,1,C03,2,37.0,2.0,6.0,30,4.0,1.0
1,108,1,2,8,37,2,01大同區,大同區重慶北路3段137巷與民族西路182巷口,0,2,2,C03,2,59.0,2.0,6.0,30,4.0,1.0
2,108,1,9,10,59,2,01大同區,大同區重慶北路1段與天水路口,0,1,1,H01,4,0.0,4.0,8.0,0,4.0,2.0
3,108,1,9,10,59,2,01大同區,大同區重慶北路1段與天水路口,0,1,2,C03,1,24.0,2.0,8.0,0,4.0,2.0
4,108,1,12,10,10,2,01大同區,大同區環河北路1段273號對面,0,1,1,C03,1,24.0,2.0,7.0,60,14.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52428,108,12,22,17,31,2,07信義區,信義區松壽路與松高路20巷口,0,1,1,H01,2,27.0,2.0,8.0,0,4.0,2.0
52429,108,12,22,17,31,2,07信義區,信義區松壽路與松高路20巷口,0,1,3,H01,1,28.0,4.0,8.0,0,4.0,2.0
52430,108,12,22,17,31,2,07信義區,信義區松壽路與松高路20巷口,0,1,2,B03,1,35.0,3.0,8.0,0,4.0,2.0
52431,108,12,26,7,20,2,07信義區,信義區永吉路127巷與基隆路1段83巷口,0,1,1,C03,2,59.0,3.0,8.0,30,4.0,2.0
52432,108,12,26,7,20,2,07信義區,信義區永吉路127巷與基隆路1段83巷口,0,1,2,C03,2,42.0,2.0,8.0,30,4.0,2.0

In [25]:
df = df_raw.copy()
df

,發生年,發生月,發生日,發生時,發生分,處理別,區序,肇事地點,死亡人數,受傷人數,當事人序,車種,性別,年齡,受傷程度,天候,速限,道路型態,事故位置
0,108,1,2,8,37,2,01大同區,大同區重慶北路3段137巷與民族西路182巷口,0,2,1,C03,2,37.0,2.0,6.0,30,4.0,1.0
1,108,1,2,8,37,2,01大同區,大同區重慶北路3段137巷與民族西路182巷口,0,2,2,C03,2,59.0,2.0,6.0,30,4.0,1.0
2,108,1,9,10,59,2,01大同區,大同區重慶北路1段與天水路口,0,1,1,H01,4,0.0,4.0,8.0,0,4.0,2.0
3,108,1,9,10,59,2,01大同區,大同區重慶北路1段與天水路口,0,1,2,C03,1,24.0,2.0,8.0,0,4.0,2.0
4,108,1,12,10,10,2,01大同區,大同區環河北路1段273號對面,0,1,1,C03,1,24.0,2.0,7.0,60,14.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52428,108,12,22,17,31,2,07信義區,信義區松壽路與松高路20巷口,0,1,1,H01,2,27.0,2.0,8.0,0,4.0,2.0
52429,108,12,22,17,31,2,07信義區,信義區松壽路與松高路20巷口,0,1,3,H01,1,28.0,4.0,8.0,0,4.0,2.0
52430,108,12,22,17,31,2,07信義區,信義區松壽路與松高路20巷口,0,1,2,B03,1,35.0,3.0,8.0,0,4.0,2.0
52431,108,12,26,7,20,2,07信義區,信義區永吉路127巷與基隆路1段83巷口,0,1,1,C03,2,59.0,3.0,8.0,30,4.0,2.0
52432,108,12,26,7,20,2,07信義區,信義區永吉路127巷與基隆路1段83巷口,0,1,2,C03,2,42.0,2.0,8.0,30,4.0,2.0

In [27]:
# 去除區序代碼
df['區序'] = df['區序'].apply(lambda x: ''.join([i for i in x if not i.isdigit()]))
df.head()

,發生年,發生月,發生日,發生時,發生分,處理別,區序,肇事地點,死亡人數,受傷人數,當事人序,車種,性別,年齡,受傷程度,天候,速限,道路型態,事故位置
0,108,1,2,8,37,2,大同區,大同區重慶北路3段137巷與民族西路182巷口,0,2,1,C03,2,37.0,2.0,6.0,30,4.0,1.0
1,108,1,2,8,37,2,大同區,大同區重慶北路3段137巷與民族西路182巷口,0,2,2,C03,2,59.0,2.0,6.0,30,4.0,1.0
2,108,1,9,10,59,2,大同區,大同區重慶北路1段與天水路口,0,1,1,H01,4,0.0,4.0,8.0,0,4.0,2.0
3,108,1,9,10,59,2,大同區,大同區重慶北路1段與天水路口,0,1,2,C03,1,24.0,2.0,8.0,0,4.0,2.0
4,108,1,12,10,10,2,大同區,大同區環河北路1段273號對面,0,1,1,C03,1,24.0,2.0,7.0,60,14.0,7.0

In [32]:
df = (df[df['性別'].isin([1, 2])]
      .groupby(['區序', '性別'])[['死亡人數', '受傷人數']]
      .sum()
      .reset_index()
      .sort_values('受傷人數'))
df

     區序  性別  死亡人數  受傷人數
11  南港區   2     0   770
23  萬華區   2     1  1175
21  松山區   2     4  1176
15  大同區   2     2  1753
10  南港區   1     1  1809
13  士林區   2     9  1939
5   信義區   2     3  1944
7   內湖區   2     4  2080
3   中正區   2     2  2132
17  大安區   2     9  2133
19  文山區   2     5  2141
22  萬華區   1     8  2544
9   北投區   2     8  2590
20  松山區   1     4  2654
1   中山區   2     4  2707
14  大同區   1    13  3372
12  士林區   1    20  3752
6   內湖區   1    15  4006
18  文山區   1     9  4141
4   信義區   1    10  4381
16  大安區   1    28  4460
8   北投區   1    20  4567
2   中正區   1     3  4864
0   中山區   1    18  5970

In [33]:
df['性別'] = df['性別'].apply(lambda x: '男性' if x == 1 else '女性')
df

     區序  性別  死亡人數  受傷人數
11  南港區  女性     0   770
23  萬華區  女性     1  1175
21  松山區  女性     4  1176
15  大同區  女性     2  1753
10  南港區  男性     1  1809
13  士林區  女性     9  1939
5   信義區  女性     3  1944
7   內湖區  女性     4  2080
3   中正區  女性     2  2132
17  大安區  女性     9  2133
19  文山區  女性     5  2141
22  萬華區  男性     8  2544
9   北投區  女性     8  2590
20  松山區  男性     4  2654
1   中山區  女性     4  2707
14  大同區  男性    13  3372
12  士林區  男性    20  3752
6   內湖區  男性    15  4006
18  文山區  男性     9  4141
4   信義區  男性    10  4381
16  大安區  男性    28  4460
8   北投區  男性    20  4567
2   中正區  男性     3  4864
0   中山區  男性    18  5970